@page
@model POS_TECH_FASE_UM.Pages.Contatos.IndexModel
@{
    ViewData["Title"] = "Contatos";
}

<h1>Contatos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contatos)
        {
            <tr>
                <td>@item.nome_contato</td>
                <td>@item.telefone_contato</td>
                <td>@item.email_contato</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.id_contato">Detalhes</a> |
                    <a asp-page="./Edit" asp-route-id="@item.id_contato">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id_contato">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
